<app-adminheader></app-adminheader>
<div class="commonmain">
   <p>Company Name:<input ></p>
    <p>Company Code:<input ></p>
    <p>Brief:<input ></p>
    <p>Remarks:<input ></p>
    <button  >Add Company</button>
    <p>Company Name:<input ></p>
    <p>Company Code:<input ></p>
    <p>Brief:<input ></p>
    <p>Remarks:<input ></p>
    <button  >Add Company</button>
    <p>Company Name:<input ></p>
    <p>Company Code:<input ></p>
    <p>Brief:<input ></p>
    <p>Remarks:<input ></p>
    <button  >Add Company</button>
    <p>Company Name:<input ></p>
    <p>Company Code:<input ></p>
    <p>Brief:<input ></p>
    <p>Remarks:<input ></p>
    <button  >Add Company</button>
     <p>Company Name:<input ></p>
    <p>Company Code:<input ></p>
    <p>Brief:<input ></p>
    <p>Remarks:<input ></p>
    <button  >Add Company</button>
</div>
